aiohappyeyeballs==2.6.1
aiosignal==1.4.0
async-timeout==5.0.1
attrs==25.4.0
beautifulsoup4==4.14.3
bs4==0.0.2
frozenlist==1.8.0
graphviz==0.21
idna==3.11
multidict==6.7.0
numpy==2.2.6
propcache==0.4.1
soupsieve==2.8.1
typing_extensions==4.15.0
yarl==1.22.0
